@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Rockwell W01 Bold', sans-serif;
  background: #333;
  color: #fff;
}

button{
  font-family: 'Rockwell W01 Bold', sans-serif;
  text-transform: uppercase;
  background-color: #333;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
  background-color: #fe7800;
  padding-left: 15px;
}

.logo-container,.nav-links {
  display: flex;
}

.logo-container{
  flex: 3;
  align-items: center;
}
.logo-container img{
  height: 10vh;
}
.logo{
  font-weight: 400;
  margin: 5px;
}
nav{
  flex: 2;
}
.nav-links{
  justify-content: space-around;
  list-style: none;
}
.nav-link{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.presentation{
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 70vh;
  align-items: center;
}
.introduction{
  flex: 1;
}
.intro-text{
  font-size: 44px;
  font-weight: 500;

}

.intro-text p{
  margin-top: 5px;
  font-size: 22px;
  color: #fff
}
.cta{
  padding: 5px 0px 0px 0px;
}
.cta-select{
  border-radius: 8px;
  background: #fff;
  color: #fe7800;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}
.cover{
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
  align-items: center;
}
.cover img{
  height: 60%;
}
.amount_field{
    color:#fff;
    background: transparent;
    align-items: center;
    border: 1px solid;
}

  input{
    padding: 1em 1.5em;
    font-family: 'Rockwell W01 Bold', sans-serif;
    color: #FFFFFF;
    border: none;
  }

  .result-container{
    display: flex;
  }

  #result{
    text-align: center;
    flex: 1;
    font-size: 18px;
  }



.features-container {
  
  position: relative;
  overflow: hidden;
}

.features h2{
  color: white;
  font-family: 'Rockwell W01 Bold', sans-serif;
}

.features {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.features .cards {
  display: flex;
  justify-content: space-between;
  color: black;
}

.features .cards .card {
  background: white;
  margin: 0rem 5rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
}

.features .cards .card h4 {
  margin: 2rem 0rem 1rem 0rem;
}

.features .cards .card p {
  padding: 2rem;
}

.features .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cta-posts button{
  margin-bottom: 10px;
  font-family: 'Rockwell W01 Bold', sans-serif;
  border: 2px solid #5f5f79;
  background: transparent;
  color: #5f5f79;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}






/* For smaller screens: */

@media screen and (max-width: 1500px) {
  .presentation {
    flex-direction: column;
    min-height: 65vh;
  }
  .introduction{
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .cover{
      height: 100%;
  }
  .cover img{
    height: 50%;
  }
}

#footer {
    color: #fff;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
  }
  
  a:link {
    text-decoration: none;
    color: #fff;
  }
  
  a:visited {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    color: #FFFFFF;
  }
  
  a:active {
  }
  
  #result{
    text-align: center;
    font-size: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  ul {
      padding:0;
      list-style: none;
  }
  ul.social-icons {
      margin-top: 10px;
  }
  
  .footer-social-icons {
      width: 350px;
      display:block;
      margin: 0 auto;
  }
  .social-icon {
      color: #FFFFFF;
  }
  .social-icons li {
      vertical-align: top;
      display: inline;
      height: 100px;
  }
  .social-icons a {
      color: #fff;
      text-decoration: none;
  }
  .fa-twitter {
      padding:10px 12px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      
  }
  .fa-twitter:hover {
      background-color: #00aced;
      color: #FFFFFF;
  }
  
  .twitter {
          position: fixed;
          display: block;
          right: 64px;
          bottom: 14px;
          svg {
              width: 32px;
              height: 32px;
              fill: #1da1f2;
          }
    