@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {box-sizing: border-box;}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
}

body{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fe7800;
}

h1, h3{text-align: center;}

h3{
  color: #FFFFFF;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.disclaimer{
  margin: 1px;
  text-align: center;
  align-content: center;
  align-items: center;
  color: #ffba7b;
}

#sm-stock-ticker {
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#sm-stock-ticker .price {
  text-align: center;
  font-size: 1.5em;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#sm-stock-ticker .name {
  font-size: 10px;
  padding: 0;
  margin-bottom: 0;
  line-height: 0;
}

#sm-stock-ticker .delay {
  font-size: 10px;
  padding: 0;
  margin-bottom: 0;
  line-height: 0;
}

#result{
  text-align: center;
  font-size: 1.5em;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#footer {
  color: #ffb16b;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}

a:link {
  text-decoration: none;
  color: #ffb16b;
}

a:visited {
  text-decoration: none;
  color: #ffb16b;
}

a:hover {
  color: #FFFFFF;
}

a:active {
}

ul {
    padding:0;
    list-style: none;
}
ul.social-icons {
    margin-top: 10px;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #FFFFFF;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #ffba7b;
    text-decoration: none;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #fe7800;
}
.fa-twitter:hover {
    background-color: #00aced;
    color: #FFFFFF;
}

.twitter {
        position: fixed;
        display: block;
        right: 64px;
        bottom: 14px;
        svg {
            width: 32px;
            height: 32px;
            fill: #1da1f2;
        }
    }